apiVersion: kyverno.io/v2
kind: PolicyException
metadata:
  name: postgres-exception
  namespace: voting-system
spec:
  match:
    any:
    - resources:
        kinds:
        - StatefulSet
        - Pod
        names:
        - voting-system-postgresql*  # ⬅️ Changed to match Bitnami naming
        namespaces:
        - voting-system
  exceptions:
  - policyName: disallow-privileged
    ruleNames:
    - '*'
  - policyName: require-non-root
    ruleNames:
    - '*'
  - policyName: require-resource-limits
    ruleNames:
    - '*'
