apiVersion: kyverno.io/v2
kind: PolicyException
metadata:
  name: postgres-exception
  namespace: voting-system
spec:
  match:
    any:
    - resources:
        kinds:
        - StatefulSet
        names:
        - voting-system-postgres
  exceptions:
  - policyNames:
    - disallow-privileged
    - require-non-root
    ruleNames:
    - '*'
