apiVersion: kyverno.io/v2
kind: PolicyException
metadata:
  name: postgres-exception
  namespace: voting-system
spec:
  match:
    any:
    - resources:
        kinds:
        - StatefulSet
        names:
        - voting-system-postgres
  exceptions:
  - policyName: disallow-privileged
    ruleNames:
    - autogen-no-privileged
  - policyName: require-non-root
    ruleNames:
    - autogen-check-non-root
