apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: voting-backend-hpa
  labels:
    app: secure-voting
    component: backend
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: voting-backend
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
