apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "voting-system.fullname" . }}-allowlist
  labels:
    app: {{ include "voting-system.name" . }}
spec:
  podSelector:
    matchLabels:
      app: {{ include "voting-system.name" . }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: {{ include "voting-system.name" . }}
      ports:
        - protocol: TCP
          port: 8000
        - protocol: TCP
          port: 80
        - protocol: TCP
          port: 5432
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: {{ include "voting-system.name" . }}
      ports:
        - protocol: TCP
          port: 5432
        - protocol: TCP
          port: 8000
        - protocol: TCP
          port: 80
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
      ports:
        - protocol: TCP
          port: 443
        - protocol: TCP
          port: 80
